{% extends 'base.html.twig' %}

{% block title %}Liste des contacts{% endblock %}

{% block body %}
    <div class="container">
    <a href=""><img src="{{asset('img/left-arrow.png')}}" alt="retour" class="arrow"></a>
        <h1>Liste des contacts</h1>
        
        {% if contacts is empty %}
        <h1>Aucun contact trouvé</h1>
        {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for contact in contacts %}
                    <tr>
                        <td>{{ contact.nom }}</td>
                        <td>{{ contact.prenom }}</td>
                        <td>{{ contact.email }}</td>
                        <td>{{ contact.telephone }}</td>
                        <td class="actions">
                            <span><img src="{{ asset('img/pencil.png') }}" alt="edit" class="icon"></span>
                            <span><img src="{{ asset('img/delete.png') }}" alt="delete" class="icon"></span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
{% endblock %}
